@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-base: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-base: #000000;
  }
}

body {
  background: var(--background);
  color: var(--font-base);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-bg {
  background: linear-gradient(135deg, #0d9488 0%, #0f766e 50%, #134e4a 100%);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}


/* Animation for modal */
@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scale-in 0.2s ease-out;
}